[Desktop Entry]
Type=Application
Name=FIRST Driver Station
Icon=wpilib.png
Exec=/usr/bin/FirstDriverStation
Comment=Robot control application for FIRST Robotics Competition and FIRST Tech Challenge.
Terminal=False